#.gitignore

# Python
__pycache__/
*.pyc
*.pyo

# Envs
.venv/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Local caches & data
raw_cache/
data/*.zip
data/*/_index/
data/*/20??-??-??/

# Secrets (if used locally)
.env.local
Personal access tokens (classic).txt
