

fastapi==0.112.1
uvicorn[standard]==0.30.6
pydantic>=2.7.0
boto3>=1.34.0
openpyxl>=3.1.5
pandas==2.2.2
lxml>=5.2.0
numpy>=1.26.0
psutil
requests==2.32.3
beautifulsoup4==4.12.3
urllib3==2.2.2
python-dotenv==1.0.1     # optional, to load .env
boto3==1.34.162          # only if S3_ENABLED=1

