fastapi==0.112.1
uvicorn[standard]==0.30.6
python-dotenv==1.0.1

requests==2.32.3
beautifulsoup4==4.12.3
pandas==2.2.2
numpy>=1.26.0
lxml>=5.2.0
urllib3==2.2.2
openpyxl>=3.1.5
psutil

# Only if you actually use S3 in this project:
# boto3>=1.34.0
